<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://nolim1t.gitlab.io/bitcoin-merchant-starter-kit/assets/css/style.css">

  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="https://nolim1t.gitlab.io/bitcoin-merchant-starter-kit/">
          <h1>{{ site.title | default: "Bitcoin Merchant Starter kit" }}</h1>
        </a>
        <h2>This is a starter kit for helping merchants accept bitcoin (and other peer to peer currencies)</h2>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
